<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test</h1>
    <img src="http://localhost:8000/api?name=deep+bansode&background=0D8ABC&color=FF0000&size=400&fontSize=30&fontStyle=normal" alt="">
</body>
</html>